<div class="title">
  <h3>Users</h3>
  <button type="button" class="btn" (click)="openModal($event)">
    Add User
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active / Inactive</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>
        <div class="actions-wrapper">
          <span
            [class]="
              user.active ? 'label active-label' : 'label inactive-label'
            "
            >{{ user.active ? "Active" : "Inactive" }}</span
          >
          <div class="actions">
            <button class="btn edit-btn">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn delete-btn">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>

<!-- Modal -->
<app-modal [usersCount]="(users$ | async)?.length"></app-modal>
