<div class="title">
  <h3>Users</h3>
  <button type="button" class="btn">Add User</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active / Inactive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>
        <div class="actions-wrapper">
          <span class="label active-label">Active</span>
          <div class="actions">
            <button class="btn edit-btn">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn delete-btn">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jane Doe</td>
      <td>
        <div class="actions-wrapper">
          <span class="label active-label">Active</span>
          <div class="actions">
            <button class="btn edit-btn">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn delete-btn">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Mike Doe</td>
      <td>
        <div class="actions-wrapper">
          <span class="label inactive-label">Inactive</span>
          <div class="actions">
            <button class="btn edit-btn">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn delete-btn">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
