@import "/src/scss/base/colors";
@import "/src/scss/base/mixins";

.modal-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  .modal {
    width: 40%;
    background-color: $white;
    border-radius: 4px;
    position: relative;
    top: 30%;
    margin: 0 auto;
    padding: 10px;

    .modal-title {
      display: flex;
      justify-content: space-between;
      .fa {
        cursor: pointer;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin: 10px 0px;
      label {
        font-size: 14px;
      }
      input,
      select {
        padding: 10px 5px;
        border: 1px solid $gray;
        border-radius: 4px;
        @include box-shadow(0 4px 6px rgba(50, 50, 93, 0.11));
      }
      .error {
        color: $warning-color;
      }
    }
    .btn {
      margin-top: 15px;
    }
  }
}
