.label {
  padding: 5px 6px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
}

.active-label {
  @extend .label;
  color: $success-color;
  background-color: rgba($success-color, 0.2);
}

.inactive-label {
  @extend .label;
  color: $warning-color;
  background-color: rgba($warning-color, 0.1);
}
