table {
  width: 100%;
  margin-top: 30px;
  text-align: left;
  border-radius: 6px;
  @include box-shadow(0 15px 35px rgba(50, 50, 93, 0.1));
  th {
    padding: 10px;
  }
  td {
    padding: 10px;
  }
}
